<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>
            Tea
          </th>
          <th>
            Information
          </th>
          <th>
          <label>Sort By:</label>
          <select ng-model="sortBy">
            <option value="lowToHigh"> Lowest to Highest </option>
            <option value="highToLow"> Highest to Lowest </option>
          </select>
        </th>
        </tr>
        
      </thead>
      <tbody>
        <tr ng-repeat='item in items  | filter : searchText | categoriesFilter : category track by $index'>
          <td>
            <img ng-src="{{item.imageUrl}}" alt="" />
          </td>
          <td>
            <h3>{{item.name}}</h3>
            <p>
              Price {{item.price / 100 | currency}}
            </p>
            <p>
              ingredients: {{item.ingredients}}
            </p>
            <p>
              Rating : {{item.rating}}
            </p>
            <p ng-show>
              In Stock? {{item.inStock}}
            </p>
            <p>
              In Stock? {{item.inStock ? "yes" : "no" }}
            </p>
            <p>
              categories :
            </p>
            <ul >
              <li ng-repeat="category in item.categories | filter : categoriesFilter">
                {{category}}
              </li>
            </ul>
          </td>

          <td>
            <label for="">Quantity</label>
            <select class="" name="">
              <option ng-repeat="a in quantity(9) track by $index" value="{{$index +1}}">{{$index + 1}} </option>
            </select>
          </td>

          <td>
            <button class="btn btn-warning" type="submit" name="button">Add to bag</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
